.flexCol--infocard, .flexRow--infocard {
  position: relative;
}

.flexCol--brand {
  justify-content: center;
}

.flexCol--brand > div {
  height: initial!important;
}

.flexRow--brand-bar {
  background: #FFF;
  text-align: center;
  padding: .75em 0;
}
