.headerRow--logo-bar .headerRowContainer {
  min-height: 120px;
}

.headerRow--logo-bar :global(.vtex-button):hover,
.headerRow--logo-bar :global(.vtex-button):focus,
.headerRow--logo-bar :global(.vtex-button):active {
  background: #273b58;
}

.headerRow--promo-bar :global(.vtex-store-components-3-x-container) {
  margin: 0;
  padding: 0;
  max-width: inherit;
}
