.row--vertical-menu .rowContainer {
  flex-direction: column;
  align-items: baseline;
}

.row--vertical-menu :global(.vtex-menu-2-x-styledLinkContainer) {
  margin: 0;
}

.row--menu {
  padding: 3em 0 4em;
}

.row--menu .rowContainer {
  align-items: baseline;
}
