.infoCardContainer--main-banner {
  height: 500px;
}

.infoCardContainer--main-banner .infoCardHeadline {
  color: #FFF;
  font-size: 80px;
}

.infoCardContainer--display {
  height: 100%;
  min-height: 340px;
}

.infoCardContainer--display .infoCardHeadline {
  color: #FFF;
  font-size: 50px;
}

.infoCardContainer--display .infoCardTextContainer {
  width: 60%;
}

.notificationBarContainer {
  background-color: #FFF;
}

.notificationBarContainer .notificationContent {
  color: #222435;
}
